
.Inputfields,
.Inputfields li,
.Inputfields input,
.Inputfields select,
.Inputfields textarea {
	font-size: 12px; 
}

.Inputfields .ui-widget-content {
	padding: 1em; 
}

.Inputfields .ui-widget-header {
	padding: 0.25em 0 0.25em 1em; 
}

	.Inputfields .InputfieldStateToggle span.ui-icon {
		float: right; 
		padding-right: 0.25em; 
	}

.Inputfields li > .ui-widget-content > p {
	margin-top: 0; 
}

.Inputfields > li {
	display: block;
	margin: 1em 0;
	clear: both; 
}
	.Inputfields > li.InputfieldSubmit,
	.Inputfields > li.InputfieldWrapper,
	.Inputfields > li.InputfieldHidden {
	}

.Inputfields > li .notes {
	margin-bottom: 0; 
}

.Inputfields .InputfieldHidden {
	display: none; 
}

.Inputfields .InputfieldSubmit {
	clear: none; 
}
	.Inputfields .InputfieldSubmit .ui-widget-content {
		padding: 0; 
		background: none; 
		border: none; 
	}

	.Inputfields .InputfieldSubmit .ui-widget-header {
		display: none; 
	}

	.Inputfields .InputfieldSubmit button {
		margin: 0 1em 0 0; 
		padding: 2px 7px; 
	}

.Inputfields .InputfieldCheckboxes input,
.Inputfields .InputfieldRadios input {
	margin-right: 0.25em; 
}
	.Inputfields .InputfieldCheckboxes li,
	.Inputfields .InputfieldRadios li {
		margin: 0; 
	}

.Inputfields .InputfieldCheckbox {
}
	.Inputfields .InputfieldCheckbox .notes {
		margin-top: 1em; 
	}


.Inputfields label {
	display: block;
}

.Inputfields textarea, 
.InputfieldMaxWidth {
	width: 99%; 
}

.Inputfields .InputfieldStateToggle {
        cursor: pointer;
}

        .Inputfields > .InputfieldStateCollapsed {
        }

		.Inputfields > .InputfieldStateCollapsed .ui-widget-header {
			opacity: 0.6; 
		}
		.Inputfields > .InputfieldStateCollapsed .ui-widget-header:hover {
			opacity: 1.0; 
		}

                .Inputfields > .InputfieldStateCollapsed .ui-widget-content {
                        display: none;
                }

                .Inputfields > .InputfieldStateCollapsed .InputfieldStateToggle {
                }

.Inputfields .InputfieldSubmit button {
	cursor: pointer; 
}

.InputfieldPageNameURL {
	font-family: Monaco, Courier, Monaco, monospace; 
}

